@import "tailwindcss";
@import "@farming-labs/theme/pixel-border/css";
@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    var(--font-geist-mono), ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    monospace;
}
.fd-page-action-btn {
  text-transform: uppercase;
  box-shadow: 2px 2px 0 0 var(--color-fd-border, #262626);
  font-family: var(--fd-font-mono, var(--font-geist-mono, ui-monospace, monospace)) !important;
}
::selection {
  background: white;
  color: black;
}

/* sugar-high syntax highlighting tokens */
.sh-code {
  --sh-class: #e5c07b;
  --sh-identifier: #c8ccd4;
  /* --sh-sign: #56b6c2; */
  --sh-string: #98c379;
  --sh-keyword: #c678dd;
  --sh-comment: #5c6370;
  /* --sh-jsxliterals: #56b6c2; */
  --sh-property: #e06c75;
  /* --sh-entity: #61afef; */
}
